@import 'https://fonts.googleapis.com/css?family=Orbitron';

body {
  background-image: url('@/assets/bg-1680x1050.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
}

button:hover {
  cursor: pointer;
}
